table{
    border-spacing: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputi{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.inputi button {
    margin-top: 20px;
    width: 5%;
}

tbody {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
