<table>
  <thead>
    <tr>
      <th (click)="sort('name')">Name</th>
      <th (click)="sort('initiative')">Initiative</th>
      <th (click)="sort('health')">Health</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let combatant of combatants">
      <td>{{ combatant.name }}</td>
      <td>{{ combatant.initiative }}</td>
      <td>
        <button (click)="decrementHealth(combatant)">-</button>
        {{ combatant.health }}
        <button (click)="incrementHealth(combatant)">+</button>
      </td>
      <td><button (click)="remove(combatant)">x</button></td>
    </tr>
  </tbody>
</table>

<div class="inputi">
  <input type="text" [(ngModel)]="name" placeholder="Name">
  <input type="number" [(ngModel)]="initiative" placeholder="Initiative">
  <input type="number" [(ngModel)]="health" placeholder="Health">
  <button (click)="addItem()">Add</button>
</div>


